{% extends "auctions/layout.html" %}

{% block title %}

{% endblock %}

{% block body %}

    <h3>{{ listing.title }}</h3>
    <li>Description: {{ listing.description }}</li>
    <li>Price: {{ listing.price }}</li>
    <li>Date Posted: {{ listing.posted_date }}</li>
    {% if listing.image_url %}
        <li>Image: <a href="{{ listing.image_url }}">Image URL</a></li>
    {% endif %}
    <br>
    {% if in_list %}
        <form action="{% url 'listing_page' listing.id %}" method="POST">
            {% csrf_token %}
            <input type="text" hidden="true" value="{{ listing.id }}" name="listing_id">
            <button type="submit" name="action" value="remove">Remove</button>        
        </form>
    {% else %}
        <form action="{% url 'listing_page' listing.id %}" method="POST">
            {% csrf_token %}
            <input type="text" hidden="true" value="{{ listing.id }}" name="listing_id">
            <button type="submit" name="action" value="add">Add to Watchlist</button>
        </form>
    {% endif %}

{% endblock %}