{% extends "auctions/layout.html" %}

{% block title %}
    Watchlist
{% endblock %}

{% block body %}
    {% for item in watchlist %}
        {% if item.item.open %}
            <p>Titulo: {{ item.item.title }}</p>
            <p>Description: {{ item.item.description }}</p>
            <p>Price: {{ item.item.price }}</p>
            {% if item.item.image_url %}
                <p>Image URL: {{ item.item.image_url }}</p>
            {% endif %}
            <p>Added on: {{ item.added_at }}</p>
            <br>
        {% endif %}
    {% endfor %}

    {% if messages %}
        {% for message in messages %}
            {{ message}}
        {% endfor %}
    {% endif %}

{% endblock %}